@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.header {
    display: flex;
}

.background-image {
    background-image: url('./pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

.title {
    font-size: 48px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    top: 20vh;
    padding: 15px 0;
    color: #fff;

    display:flex;
    justify-content: center;
}

.top-paragraph {
    display: block;
    padding: 40px;
}

.top-paragraph h2 {
    margin: 20px 0px;
}

.login-section {
    
}
/* Form Section */

form {
    margin: 0 auto;
    width: 400px;
    /* Outline */
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin: -2px;
}

ul {
    list-style: none;
}

form li + li {
    margin-top: 1em;
}

input, label {
    display: block;
}

label {
    display: inline-block;
    width: 150px;
}